<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  <!-- Bootstrap CSS -->
<form class="col-sm-6 form-multiline">

  <fieldset class="form-group">
    <label for="ageOfModel">age: </label><input type="number" class="form-control" id="ageOfModel" placeholder="Age">
    <!-- <small class="text-muted">We'll never share your email with anyone else.</small> -->
  </fieldset>
  <fieldset class="form-group">
    <label for="Id">Id: </label>
    <input type="text" class="form-control" id="idOfModel" placeholder="Id">
  </fieldset>


  <fieldset class="form-group">
    <label for="imageUrlOfModel">image: </label><input type="url" class="form-control" id="imageUrlOfModel" placeholder="image">
    <!-- <small class="text-muted">We'll never share your email with anyone else.</small> -->
  </fieldset>
  <fieldset class="form-group">
    <label for="nameOfModel">Name: </label>
    <input type="text" class="form-control" id="nameOfModel" placeholder="Name">
  </fieldset>


  <fieldset class="form-group">
    <label for="snippetOfModel">Snippet</label>
    <textarea class="form-control" id="snippetOfModel" rows="2"></textarea>
  </fieldset>
  <!-- <fieldset class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile">
    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
  </fieldset>
   -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
